.sidebar{
    height: 800vh;
    flex: 0.2;
    background:#040404;
    color:white;
    min-width: 230px;
    padding: 0 10px;
}

.sidebar__logo{ 
    height: 70px;
    margin-right: auto;
    padding:10px;
    
}

.sidebar__title{
    font-size:12px;
    margin-left: 10px;
    padding: 5px;
}

.sidebar > hr{
    width: 90%;
    border: 1px solid #282828;
    margin: 10px auto;
}